.header {
  font-family: Arial;
  width: 100vw;
  background: #222;
  height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  .logo-link {
    margin-right: 20px;
  }

  .logo {
    height: 32px;
  }

  nav {
    display: flex;
    gap: 30px;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

 
  nav a:hover {
    background-color: #014ff4;
    color: white;
  }
}
